---
layout: default
permalink: /category
---
{% assign esc_title="{{ p.title }}" %}
{% assign esc_date="{{ p.date }}" %}
{% assign esc_excerpt= "{{ p.excerpt }}" %}
{% assign esc_ctgname="{{ hash }}" %}

<div id="post-list">
  <h2 class="title is-2">{{ esc_ctgname }}</h2>
  <ul>
    <div class="post">
      <li v-for="p in posts" v-if="p.categories.indexOf(hash) != -1">
        <p>
        <a v-bind:href="p.url">
          {{ esc_title }}
        </a>
        _{{ esc_date }}
        </p>
        <p>
          {% if esc_excerpt %}
            {{ esc_excerpt }}
          {% endif %}
        </p>        
      </li>
      <hr>
    </div>
  </ul>
</div>

<script>
var hash = decodeURI(window.location.hash.substr(1));

var postList = new Vue({
  el: '#post-list',
  data: {
    posts: []
  }
});

axios.get('/search.json')
  .then(function (response) {
    postList.posts = response.data;
  })
  .catch(function (error) {
    console.log(error);
  });
</script>
