<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for cat_to_go in categories_list %}
          <a class="sidebar-nav-item{% if page.category == cat_to_go %} active{% endif %}" href="category#{{ cat_to_go }}">
            {{ cat_to_go | capitalize }}
          </a>
        {% endfor %}
      {% else %}
        {% for cat_to_go in categories_list %}
          <a class="sidebar-nav-item{% if page.category == cat_to_go %} active{% endif %}" href="category#{{ cat_to_go[0] | capitalize }}">
            {{ cat_to_go[0] | capitalize }}
          </a>
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}

    <a class="sidebar-nav-item" href="https://facebook.com/rpblic.gyuminsim">Facebook</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
