createdAt: "2018-09-02T16:45:02.622Z"
updatedAt: "2018-09-26T23:35:32.883Z"
type: "MARKDOWN_NOTE"
folder: "825d5dcb0e1827af7189"
title: ""
content: '''
  ---
  layout: post
  title: DeepLearning Zero To All Lecture note
  tags: [DL, ZeroToAll, LectureNote]
  category: Deeplearningzerotoall
  ---
  
  Lecture Notes of DL Zero To All, Sung Kim.
  
  Thanks to Sung Kim for the great lecture.
  
  [DL Zero To All, Lecture note(Notion)](https://www.notion.so/rpblic/78e4b7b172ec48698a9d13a99d4243b8?v=a3bfa41cd3a741c4be0dd03958be97e2)
  
  ![스크린샷, 2018-09-03 01-43-58.png](:storage/4a8e7c77-d909-4821-87eb-cc6f3fae08fb/a5d2e693.png)
'''
tags: []
isStarred: false
isTrashed: false
