createdAt: "2018-10-26T00:29:54.475Z"
updatedAt: "2018-10-26T01:45:31.601Z"
type: "MARKDOWN_NOTE"
folder: "93def3c2639c03baf47c"
title: "스마트 피플"
content: '''
  * 스마트 피플
    * 서울여상 케이스
      * 기계를 활용한 수업, 이충덕 교수님 암산 능력
      * 이충덕 선생님의 관점: 기계가 학습을 대신, 학습의 대상이 바뀌고 학생이 객체가 되면 학생이 학습에서 소외되게 된다
    * 디지털 기기로 세상을 이해하는 '스마트 피플'의 도래
      * 마크 프렌스키: 사용 가능한 도구가 매우 달라진 환경, 디지털 네이티브
        * 디지털 네이티브: 디지털 정보/컴퓨터가 있는 환경에서 자란 사람들, 디지털을 자신의 삶의 일부로 받아들임
      * 돈 탭스콧: 똑똑한 세대 - 일과 학습, 협력과 재미 추구
    * 참샘고등학교 - 박선우 학생 케이스
      * 스마트기기를 이용한 학습
      * 디지털 기기에 교사보다 더 익숙한 학생도 있음
      * 정보올림피아드 멘토링 수업
      * 어렸을 때에는 언어에 소질
      * 태블릿 PC를 활용한 프로그래밍 교육, 전자책 사용
      * 일방적 학습이 아닌 즐기는 과정을 통해 학습과 창조가 이루어짐
    * 유석고등학교 케이스
      * 집중력 차이 실험: 음악을 들으면서 오히려 이해력 높음, 동시에 여러 가지 일을 하는 데 무리가 없음
    * 대시 로스버그 케이스
      * 트위터에서 일하면서 업무 후 음악 작업, 게임과 동시에 음악 작업
      * 서너 가지 일을 동시에 하는 것을 즐김
      * 일상을 게임 또는 도전으로 인식, 도전적이고 재미있는 일에 몰입하는 모습(기존 세대의 인정과 무관)
      * 즐기고 창조할 수 있는 디지털 네이티브
    * 융합과학기술대학원 케이스
      * 디지털 네이티브: 거부감이 없음, 컴퓨터를 자유자재로 활용
      * 암기-교과서-노트북 식의 테스트, 이중식 교수: 머릿속에 담아두는 내용이 줄어들고 꿰는 능력이 좋아짐
      * 게임, 음악 작곡/작사 등 디지털 기기를 활용한 여가, 창조적 활동
      * 선린인터넷고등학교 진학
      * 행복한 삶을 살기, 음악과 글쓰기 / 문제 해결 - 해결 방법의 자유로운 선택, 해결 과정의 즐거움
    * 스마트 기기 활용과 뇌의 영향
      * 전두엽 자극
      * 게임 - 두뇌 운동으로써 활동을 자극(중독과 몰입의 경계), 집중력 향상에 도움, 자아존중감 및 주의집중 향상, 시공간적 능력 범위 향상
    * 필라멘트 기업 케이스
      * 치안 관련 어플리케이션 개발
      * 운동을 통해 만남, 여가 생활
    * 디지털 네이티브 기업 케이스
      * 기성 세대와 디지털 세대 간의 연결고리 역할, 디지털 세대 타겟팅 마케팅 기업
      * 항상 연결되어 있는 디지털 세대
    * KT 기업 사례
      * 화상 회의, 자유 좌석
    * 아이들의 정보교육을 함께 들어 주는 학부모
      * 주의깊은 관심과 관찰, 학생의 적성을 살리고 인정하는 태도
    * 창의적, 협력, 변화에 능동적
    * 맞춤 교육을 통한 유쾌한 교육
    * 스마트 교육과 디지털 기기를 활용한 교육의 변화
'''
tags: []
isStarred: false
isTrashed: false
